@(original: String, shortened: String)
<!DOCTYPE html>
<html>
    <head>
        <title>Kurzen</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
      <div class="container">
        <h1>Kurz.in your URLs!</h1>
        <form action="/" method="post">
          <input type="url" name="url" value="@original" />
          <input type="submit" value="Kurzen" />
        </form>
        @if(shortened) {
        <span class="result">@shortened</span>
        }
      </div>
    </body>
</html>
